
/*the style of body*/	
body {
	background-image: linear-gradient(130deg, #F29DE1, #B3B2E1);
	margin-left: auto;
	width:100%;
}

/*the style of top welcome page*/	
.bigTitle {
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border-radius: 8px;
	box-shadow: 0 0 15px 2px #666;
	z-index:999;
	position: fixed;
	height: 250px;
	width: 50%;
	margin-left: 18%;
    margin-right: 18%;
	padding-left: 6%;
	padding-right: 8%;
	top:10%;
	margin-bottom: 10%;
}
	
#titleBackground{
	position:fixed;
	z-index:30;
	top: 0px;
}

#nameTitle{
	position: relative;
	left: 10px;
	top: -55%;
}

#title1{
	position: relative;
	top: -10%;
	left:6%;
}


#title2{
	position: relative;
	left:46%;
	top: -225px;
	font-size: 18px;
}

/*the style of icon*/
#myIconYa{
	position:relative;
	left: 21%;
	top: -168%;
}
	
#myIcon{
	position:relative;	
	justify-content: center;
  	align-items: center;
    animation-name: move;
    animation-duration: 4s;	
}

/* Standard syntax */
@keyframes move {
    0%   {width:50%; left:0px; top:0px;}
    25%  {width:100%;left:0px; top:10px;}   
	50%  {left:0px; top:0px;}  
 
}

/*the style of music*/
#music{
	position:fixed;
	left: 83%;
	top: 24%;	
}

/*font style*/
		
ul {
    padding:0;
    margin: 0;
}

li {
    display: inline;
    position: relative;
}

ul ul {
    position: absolute;
    display: none;
}

li:hover ul {
    display: block;
}

ul ul ul {
    left: 100%;
    top: 0;
}

li:hover > ul {
    display: block;
}

h1 {
	font-size: 85px;
	font-weight: 100;
	letter-spacing: 15px;
	text-align: center;
	color: rgb(255, 133, 219);
    font-family: 'Road Rage', cursive;
	*filter: Glow(color=rgb(255, 255, 255), strength=10);
}

h1, #main_content {
	padding: 15px;
}

h2{
	text-align: center;
	font-size: 36px;
	color: rgb(162, 14, 248);
	animation-duration: 3s;
	animation-name: slidein;
	font-family: 'Londrina Outline', sans-serif;
}

  @keyframes slidein {
	from {
	  margin-left: 100%;
	  width: 100%; 
	}
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
  }
	
h3{
	font-weight: 100;
	font-family: 'Fenix', serif;
	text-align: center;
	color: rgb(166, 133, 255);
	line-height: 30px;
}

h4{
	font-size: 16px;
	font-weight: 100;
	text-align: center;
	font-family: 'Shippori Antique', sans-serif;
}

h5{
	font-size: 24px;
	text-align: center;
}

h6{
	font-size: 40px;
	font-weight: 100;
	letter-spacing: 15px;
	text-align: center;
	color: rgb(255, 133, 219);
    font-family: 'Road Rage', cursive;
	*filter: Glow(color=rgb(255, 255, 255), strength=10);
}

p {
	margin-left: 10%;	
	margin-right: 10%;
	font-family: 'Outfit', sans-serif;
	line-height: 28px;	
}		

a {
	line-height: 35px;
	font-family: 'Oleo Script', cursive;
	color: rgb(253, 151, 236);
}

/*navigation style*/
.topnav ul {
	background: white;
	-webkit-transition: .5s;
	transition: .5s;
	border-top: 9px solid #a639c2;
	border-bottom: 9px solid #a639c2;
	background-color: #fcd7ff;
	padding: 5px;
	animation-name: changeColor;
	animation-duration: 4s;
	overflow: hidden;
	z-index:9999;
	top: 300px;
	position:fixed;
	width:100%;
	text-align: center;
}

@keyframes changeColor {
	from {background-color: rgb(251, 252, 255);}
	to {background-color: #f0ccfa}
}

.topnav .icon {
	display: none;
}
		
.topnav li {
	float: left;
	position: relative;
	width: 320px;
	list-style: none;
	-webkit-transition: .5s;
	transition: .5s;
}
		
#main_nav > ul > li > a, h1 {
		text-transform: uppercase;
}
		
#main_nav a {
		text-decoration: none;
		padding: 5px 5px;
		color: rgb(0, 0, 0);
		transition: 0.3s;
		font-size: 18px;
		text-decoration: none;
		text-align:center;
}

#main_nav ul ul {
		position: relative;
		left: 10%;
		top: 100%;
		visibility: hidden;
		opacity: 0;
		padding: 15px;
}
		
#main_nav ul ul ul {
		left: 100%;
		top: 0;
}
		
#main_nav li:hover, #main_nav li:hover li {
		background: rgb(253, 228, 253);
}
		
#main_nav li li:hover, #main_nav li li:hover li {
		background: rgb(245, 121, 224);
}
		
#main_nav li li li:hover {
		background: rgb(253, 228, 253);
}
		
#main_nav li:hover > ul {
		visibility: visible;
		opacity: 1;
}

main {
    display:inline-block;
    margin:0px;
    height:100%;
}

/*the style of globe page*/     
#content {
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border-radius: 8px;
	box-shadow: 0 0 15px 2px #666;
	margin-left: 18%;
    margin-right: 18%;
	padding-left: 50px;
	padding-right: 50px;
	z-index:10;
}

.page {
    display: none;
    padding-right:auto;
	margin-left: auto;
    margin-right: auto;
	position:relative;
	z-index:10;

}

/*define a white space for page*/
#whitespace{
width:90%;
height:470px;
}
      
.page h1 {
    margin:0px;
}

/*default page home page*/
.default {
    display:block;
}
      
.active {
	background-color: rgb(253, 228, 253);;
	color: white;
}

:target {
    display:block;
}
      
:target ~ .default {
    display:none;
}

#photo1{
	position: relative;
	left:15%;
	top:-90px;
}
#subtitle1{
	position: relative;
	top:-100px;
	font-size: 20px;
}

/*page2 Matching suggestion*/
#subtitle2{
	position: relative;
	top:-80px
}

#bottomTitle{
	color:#F29DE1
}

/* the style of lolita's page */
#page2Title{
	position: relative;
	top: -70px;
	color: rgb(253, 151, 236);
}

#myTable{
	position: relative;
	left:76px ;
	top:-80px;
}

.table1 th {
	border: 1px solid rgb(186, 25, 103);
	color:rgb(241, 81, 255);
	}
	

.table1 {
	border-collapse:separate;
	margin:0 20px 20px 20px;	width:80%;
	border: 1px solid rgb(186, 25, 103);
}

.table1 td {
		 text-align: center; 
		 font-size:12px;
		 border: 1px solid rgb(186, 25, 103);
	
	}

.table1 tr:nth-child(odd) {
		background: rgb(255, 234, 254);
	}

/* the style of JK's page*/
#page2Title2{
	position: relative;
	top: -70px;
	color:rgb(255, 197, 6);
}
.table2 th {
	border: 1px solid rgb(175, 186, 25);
	color:rgb(255, 197, 6);
	}
	

.table2 {
	border-collapse:separate;
	margin:0 20px 20px 20px;	width:80%;
	border: 1px solid rgb(197, 194, 23);
}

.table2 td {
		 text-align: center; 
		 font-size:12px;
		 border: 1px solid rgb(197, 194, 23);
	
	}

.table2 tr:nth-child(odd) {
		background: rgb(255, 251, 213);
	}

/* the style of Hanfu's page*/
#page2Title3{
	position: relative;
	top: -70px;
	color:rgb(255, 6, 27);
}
.table3 th {
	border: 1px solid rgb(175, 186, 25);
	color:rgb(255, 6, 27);
	}
	

.table3 {
	border-collapse:separate;
	margin:0 20px 20px 20px;	width:80%;
	border: 1px solid rgb(197, 23, 23);
}

.table3 td {
		 text-align: center; 
		 font-size:12px;
		 border: 1px solid rgb(197, 23, 23);
	
	}

.table3 tr:nth-child(odd) {
		background: rgb(255, 213, 213);
	}


/*page3 Event */
#subtitle3{
	position: relative;
	top:-80px
}

#photo2{
	float: left;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 80px;
}

/*page3 Acg show*/
#photoAcglogo{
	position: relative;
	padding-left:100px;
}
#photoAcgpre{
	position: relative;
	padding-left:100px;
}
#subtitle3a{
	position: relative;
	top: -60px;
}

/*page3 Tea Party*/
#photoTeaEvent{
	position: relative;
	padding-left:90px;
}

/*page4 Store recommand */
#subtitle4{
	position:relative;
	top: -80px;
}

#store{
	position: relative;
	top: -60px;
	margin: auto;
	padding-left: 20%;
	padding-right: 10%;
}

/* the style of photo gallery*/
div.gallery {
	display: center;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

/*slide animation*/
.fling-minislide {
	width:auto; 
	height:271.66px;
	overflow:hidden; 
	position:relative; 
}

.fling-minislide img{ 
	position:absolute; 
	animation:fling-minislide 30s infinite; 
	opacity:0; 
	width: 100%; 
	height: auto;
}

@keyframes fling-minislide {
	25%{opacity:1;} 40%{opacity:0;}
} 

.fling-minislide img:nth-child(1){
	animation-delay:0s;
}

.fling-minislide img:nth-child(2){
	animation-delay:10s;
}

.fling-minislide img:nth-child(3){
	animation-delay:20s;
}

.fling-minislide img:nth-child(4){
	animation-delay:30s;
}

/* the style of button*/
.button {
	background-color: rgb(248, 140, 230);
	border: none;
	color: white;
	padding: 10px 8px;
	text-align: center;
	font-size: 10px;
	cursor: pointer;
	border-radius: 8px;
}

.button:hover {
	background-color: rgb(166, 212, 255);
}

#button1{
	position: relative;
	left:2.5px;
	top:-5px;
}

#button2{
	position: relative;
	left:2.5px;
	top:-5px;
}

#button3{
	position: relative;
	left:2.5px;
	top:-5px;
}

/* the style of collapsible*/
.wrap-collabsible {
  margin-bottom: 10px 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-family: monospace;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Road Rage', cursive;
  padding-top: 1px;
  padding-bottom: 15px;
  letter-spacing: 5px;
  color:rgb(255, 103, 247);
  background: #ffffff;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #30b6f5;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  /* this creates the little triangle */
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 10px;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
  background: rgba(250, 66, 250, 0.2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 5px 18px;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 500px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


/*page5 About*/
#subtitle5{
	position:relative;
	top: -80px;
}
#About1{
	position: relative;
	left:10%;
}

#About2{
	position: relative;
	left:10%;
}

#qbIcon{
	position: relative;
	left:80%;
	top:-20px;
}

#page5Content{
	position: relative;
	top:-55px;
}

/* the style of footer*/
#footer {
	clear: both;
	color: rgb(129, 129, 129);
	font-size: 100%;}


/*responsible*/	
@media screen and (max-width: 960px) {
	.topnav li:not(:first-child) {display: none;}
	.topnav .icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 960px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive li {
		float: none;
		display: block;
		text-align: left;
	}
}

	
@media only screen and (max-width: 960px) {
	
	html {
		-webkit-text-size-adjust: none;

	}
	h1{
	font-size: 55px;
	}
	h2{
	font-size: 30px;
	text-align: center;	
	}
	
	h3{
		font-size: 16px;	
	}

	h4{
		font-size: 16px;	
	}

	h5{
		font-size: 12px;
	}

	h6{
		font-size: 35px;
	}

	#myIconYa{
		position:relative;
		left: 8%;
		top: -140%;
	}

	#title1{
		position: relative;
		top: -30px;
		left:-10px;
	
	}

	#title2{
		position: relative;
		top: -220px;
		left:12px;	
	}

	#nameTitle{
		position: relative;
		top: -55%;
	}

	#subtitle2{
		position: relative;
		left:-30px;	

	}

	#page2Title{
		position: relative;
		left:-30px;	
	}

	#page2Title2{
		position: relative;
		left:-30px;	
	}

	#page2Title3{
		position: relative;
		left:-30px;	
	}

	.page{
		padding-right:auto;
		margin-left: auto;
		margin-right: auto;
		position:relative;
	}
	/*page3 event*/
	#page3{
		position: relative;
		padding-right: 35%;
	}

	#photo2{
		position: relative;
		left:-80px;
	}
	
	/*page3 Acg show*/
	#page3Acg{
		position: relative;
		padding-right: 35%;
		}

	#photoAcglogo{
		position: relative;
		left:-120px;
	}
	#photoAcgpre{
		position: relative;
		padding-left:0px;
	}
	#subtitle3a{
		position: relative;
		top: -60px;
	}

	/*page3 Tea Party*/
	#page3Tea{
		position: relative;
		padding-right: 0%;
	}
	#photoTeaEvent{
		position: relative;
		right:35px;
	}

	/*page4 Store recommand */
	#subtitle4{
		position:relative;
		top: -80px;
		left:20px;
	}
	#page4{	
		position: relative;
		padding-right: 60%;
	}

	td {
		text-align: center; 
		font-size:1px;
   }
   
   #myTable{
	position: relative;
    width: 80%;
    margin-left: -83px;
	overflow:auto;
	}  
	#bottomTitle{
		position: relative;	
		left:-25px;
	}

	#whitespace{
		width:90%;
		height:500px;
		}

}

